<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static  %}
    <link rel="stylesheet" href="{% static 'css\loginstyle.css'%}">
    <title>Relax</title>
</head>
<body>
    <div class="main">
        <div class="box">
            <h1>Login</h1>
            <form method="POST" action="">
                {%  csrf_token %}

                <p>
                    <h2>Username</h2>
                    <input type="text" name="Username" >
                </p>

                <p>
                    <h2>Password</h2>
                    <input type="password" name="Password" >
                </p>
                <input type="submit" name="Create User">
            </form>
            {% for message in messages %}
                <p id="messages">{{message}}</p>
            {% endfor %}
            <a href="{% url 'Register' %}"><h4>Create an account? click here</h4></a>
        </div>
    </div>
</body>
</html>


