*{
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
    color: #2E294E;
}
.logo{
    text-decoration: none;
    color: #9055A2;
    font-family: Great Vibes;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.main{
    width: 80%;
    margin: auto;
}
.navbar{
    margin: 30px auto;
    display: flex;
    align-items: center;
}
ul{
    flex: 1;
    text-align: right;
}
ul li{
    display: inline-block;
    list-style: none; 
    margin: 0 25px;
}
ul li a{
    text-decoration: none;
    color: black;
    padding: 0 10px;
    position: relative;
}
ul li a::after{
    content: '';
    width: 0%;
    height: 10px;
    background: #9055A2;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top:-55px; 
    transition: 0.3s;
}
ul li a:hover::after{
    width: 100%;
}
.navbar-icon{
    margin-left: 50px;
}
.navbar-icon svg{
    height: 30px;
}
.banner{
    display: flex;
    margin-top: 50px;
}
.left,.right{
    flex-basis: 30%;
}


#text
{
    font-size: 35px;
    color: #2d2e2e;
    font-family: 'Open sans condensed', sans-serif;
}

h1
{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    color: #2d2e2e;
}

.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 300px;
    width: 300px;
    position: relative;
    transform: scale(1);
}

.circle
{
    background-color: #f6f6f6;
    height: 100%;
    width: 100%;
    border-radius: 50%; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; 
}

.gradient-circle
{
    background: conic-gradient(
    #f73f52 0%,
    #f73f52 40%,
    #7986c7 40%,
    #7986c7 60%,
    #ffea85 60%,
    #ffea85 100%
  );
  height: 320px;
  width: 320px;
  z-index: -3;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -10px;
}

.gradient-circle-blur
{
    background: conic-gradient(
    #f73f52 0%,
    #f73f52 40%,
    #7986c7 40%,
    #7986c7 60%,
    #ffea85 60%,
    #ffea85 100%
  );
  height: 320px;
  width: 320px;
  z-index: -3;
  border-radius: 50%;
  position: absolute;
  filter: blur(15px);
  top: -10px;
  left: -10px;
}

.pointer
{
    background-color: rgb(41, 41, 41);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: block;
}

.pointer-container {
    position: absolute;
    top: -40px;
    left: 140px;
    width: 20px;
    height: 190px;
    animation: rotate 7.5s linear forwards infinite;
    transform-origin: bottom center;
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .container.grow
  {
      animation: grow 3s linear forwards;
  }

  @keyframes grow
  {
      from {
          transform: scale(1);
      }
      to {
          transform: scale(1.2);
      }
  }
  .container.shrink
  {
      animation: shrink 3s linear forwards;
  }
  @keyframes shrink
  {
      from {
          transform: scale(1.2);
      }
      to {
          transform: scale(1);
      }
  }
